<html>
<body>
<style >
    body {
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .calendar_div {
    }

    table {
        border: 1px solid #c63131;
        width: 100%;
        height: 100%;
        border-spacing: 1px 0px;
        border-collapse: separate;
    }

    table td {
        border-bottom: 1px solid #DADADA;
    }

    table th {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #c63131;
    }

    .cal_table {
        #height: 800px;
    }

    .cal_header_cell {
        font-size: 9pt;
    }

    .cal_cell {
        width:8.33333%;
        height: 23px;
        padding-left: 4px;
    }

    .cal_day_cell {
        font-size: 6pt;
    }

    .cal_day_cell_date {
    }

    .weekday_6 {
        background-color: #F8E6E6;
    }
    .weekday_7 {
        background-color: #F3D5D5;
    }


</style>
<div class="calendar_div">
    <table class="cal_table" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="cal_header">
            {% for month in calendar %}
                <th class="cal_header_cell">{{ month.name }}</th>
            {% endfor %}
            </tr>
        </thead>

        <tbody>
        {% for day in 1..31 %}
            <tr class="cal_body_row">
            {% for month in calendar %}
                {% set dayOfMonth=month.getDayOfMonth(day) %}
                <td class="cal_cell {% if dayOfMonth %} weekday_{{ dayOfMonth.getDayOfWeek }}{% endif %}">
                    <div class="cal_day_cell">
                        <div class="cal_day_cell_date">
                        {% if dayOfMonth %}
                            {{ '%02d' |format(dayOfMonth.getDay) }} {{ dayOfMonth.getWeekdayName | upper }}
                        {% endif %}
                        </div>
                        <div class="cal_day_cell_text"></div>
                    </div>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</body>
</html>