
* {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.calendar_div {
    border: 1px solid #c63131;
    padding: 0.5em;
}
.cal_table {
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0;
}

.cal_header {
}

.cal_header_cell {
    font-size: 0.7em;
    color: #c63131;
    border-bottom: 1px solid #DEDEDE;
    padding: 3px;
}
.cal_cell {
    font-size: 0.6em;
    padding: 0 1px;
    width: 8.3%;
    height: 23px!important;
    border-bottom: 1px solid silver;
}
.cal_day_cell {
    #border-bottom: 1px solid silver;
    display: block;
}
.cal_day_cell_date {
    #margin-top: 4px;
}
.cal_day_cell_text {
}
